ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

@media (min-width: 900px) {
    .coffeeItem {
        width: 33.33%;
    }
}

@media (min-width: 600px) and (max-width: 899px) {
    .coffeeItem {
        width: 50%;
    }
}

@media (max-width: 599px) {
    .coffeeItem {
        width: 100%;
    }
}

.coffeeItem {
    display: block;
    padding: 0;
}

.coffeeImage {
    position: relative;
    width: 300px;
    height: 200px;
    background-size: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 30px;
}

.popularBadge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #F6C768;
    padding: 6px 14px;
    border-radius: 30px;
    font-size: 0.625rem;
    font-weight: bold;
}

.coffeeDetails {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}